@{
    ViewBag.Title = "Contact";
}
<h2>Contacto.</h2>
<h3>Contactos de la pagina</h3>

<address>
    TrixyTeam<br />
    Sogamoso, Boyaca<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soporte:</strong>   <a href="#">TrixyTeam@gmail.com</a><br />
    <strong>Directivas:</strong> <a href="#">DrogasProject@gmail.com</a>
</address>